__pycache__/
audio_data/
ckpt/
output/
eval_result/
recog_result/
test/
temp/

inference_backup.py
inference_dereverb.py
inference_for_localization.py
inference_for_mask_display.py
inference_quantize.py
inference_speech_recognition_separate_noise_speaker_selector.py
inference_speech_recognition_separate_noise_speaker_selector_backup.py
inference_speech_recognition_separate_noise_two_speakers_2.py
inference_speech_recognition_separate_noise_two_speakers.py
inference_speech_recognition_speaker_selector_without_denoising.py
inference_speech_recognition_speaker_separation_only.py
inference_speech_recognition_two_speakers_for_mask_display.py
inference_speech_recognition_two_speakers.py
inference_speech_recognition.py

models_quantized.py

RealTimeAudioProcess.py
RealTimeDemo_backup.py
RealTimeDemo_speed_test.py
RealTimeDemo_without_localization_asr.py
RealTimeDemo_only_speaker_separation.py

training_acoustic_spatial.py
training_backup.py

evaluate_mask_beamformer_azimuth_wise.ipynb

make_multi_wav_using_NoisySpeechDatabase_fft_512_with_RIR_azimuth_wise_same_data.ipynb
make_multi_wav_using_NoisySpeechDatabase_fft_512_with_RIR.ipynb

julius_asr_recog_result.txt
asr_client_julius.py
asr_client_julius_simple.py

torchvision/
torch-1.8.0-cp36-cp36m-linux_aarch64.whl
.python-version

music_localization_test.py

mic_record_to_speech_extracter